ion-footer{
    background:white;
}

ion-grid {
	padding: 0px!important;
	border-top: solid 1px #d2cdcd;
}
.input-col {
	padding-left: 10px; 
}
.send-col {
	padding: 0px!important;
}
.send-col ion-button {
	height: 100%!important;
	margin: 0px!important;
	border-radius: 0px !important;
}
.send-col button {
	border-radius: 0px !important;
}
.send-col ion-icon {
	font-size: 20px!important;
}


.titleChat{
	padding-top:50%;
	padding-bottom: 15%;
	text-align:center;
	background:white;
	color:black;
}

.titleChat ion-icon{
	font-size:50px;
	color:#3880ff;
}


.connexionButton{
	margin-left:12%;
}