<ion-header>

  <ion-toolbar color="primary">
    <ion-title text-wrap *ngIf="connected">
      {{userName}}
    </ion-title >

    <ion-buttons slot="end" *ngIf="connected">
      <ion-button color="light" (click)="logout()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<div class="titleChat">
  <ion-icon name="ios-chatboxes"></ion-icon>
  <h2>Bienvenue sur <br> DuckChat</h2>
</div>

<ion-content id="contentText" style="display: flex; flex-direction:column-reverse">
  <ion-button class="connexionButton" *ngIf="!connected" (click)="facebookLogin()" >
    <ion-icon slot="start" name="logo-facebook"></ion-icon>
    Connexion avec facebook
  </ion-button>

  <div *ngIf="connected" #scrollMe>
    <ion-item lines="none" *ngFor="let message of messages" >
      <ion-badge text-wrap *ngIf="message.userId == userId" slot="end" color="tertiary">{{message.text}}</ion-badge>
      <ion-badge text-wrap *ngIf="message.userId != userId" slot="start" color="secondary">{{message.text}}</ion-badge>
    </ion-item>
  </div>

</ion-content>

<ion-footer *ngIf="connected">

  <ion-grid>
    <ion-row>
      <ion-col size="10" class="input-col">
        <ion-input [(ngModel)]="messageText" placeholder="Entrez votre message" type="text"></ion-input>
      </ion-col> 
      <ion-col size="2" class="send-col">
        <ion-button shape="full" (click)="sendMessage()" class="submitButton">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>
